/data
.env
/node_modules
/processing_data/predicted_data.csv
/processing_data/minmaxscaler.pkl
/processing_data/ecg_segmentado_187.csv
/processing_data/ecg_model_mlp.pth
test2.csv
/processing_data/ecg_segmentado_1872.csv
processing_data/ecg_data_to_load.txt
.vscode/settings.json
processing_data/predictCategorization_MLP_MODEL.py
processing_data/plotSignals.ipynb
.gitignore
processing_data/formatRawData.py
.gitignore
processing_data/formatRawDataNewFormat.ipynb
processing_data/ecg_data_to_load.txt
