/imagenes_mitbih_test
/imagenes_mitbih_train
autoencoder_0.h5
autoencoder_1.h5
autoencoder_2.h5
autoencoder_3.h5
autoencoder_4.h5
minmaxscaler.pkl
ecg_model_autoencoder.h5
ecg_model_cnn.pth
ecg_model_mlp.pth
datos_generados_clase_3_total.csv
datos_generados_clase_3.csv
ecg_segmentado_187.csv
ecg_sinteticos_clase3.npy
mitbih_test.csv
mitbih_train.csv